{% extends "base.html" %}
{% block content %}
  {% for plan in plans %}
  <form action="/charge/{{ plan['id'] }}" method="post">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Subscribe to {{ plan['nickname'] }}"
            data-amount="{{ plan['amount'] }}"
            data-locale="auto"
            data-currency="gbp"
            data-label="{{ plan['nickname'] }}"
            data-email="{{ email }}"
            data-zip-code="true">
    </script>
  </form>
  {% endfor %}
{% endblock %}
